<h1>Your Movie Watchlist</h1>

<% if @movies.empty? %>
  <h3>There is no movies in your Watchlist, try to add some...</h3>
<% else %>
<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Release Date</th>
      <th>Genre</th>
      <th>Duration</th>
      <th>Overview</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><img class="movie_poster" src=<%= "#{movie.img_url}" %>></td>
        <td><%= movie.title %></td>
        <td><%= movie.release_date %></td>
        <td><%= movie.genre %></td>
        <td><%= movie.duration %></td>
        <td><%= movie.overview %></td>
        <td><%= link_to 'Get recommendations', movie %></td>
        <td><%= link_to 'Already seen?', movie, method: :delete, data: { confirm: 'You are about to remove this movie from your Watchlist, are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<%= link_to 'Search Movies to Add', search_movies_path %>