<h1>Your Movie Watchlist</h1>

<% if @movies.empty? %>
  <h3>There is no movies in your Watchlist, try to add some...</h3>
<% else %>
<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Release Date</th>
      <th>Genre</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.img_url %></td>
        <td><%= movie.title %></td>
        <td><%= movie.release_date %></td>
        <td><%= movie.genre %></td>
        <td><%= movie.duration %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<%= link_to 'Search Movies to Add', search_movies_path %>