<p id="notice"><%= notice %></p>

<h1>Recommended Movies</h1>

<% if @movies.empty? %>
  <h2>No recommendations found</h2>
<% else %>
  <h2>Based on <%= @movie.title %></h2>

  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Release Date</th>
        <th>Overview</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><img class="movie_poster" src="<%= movie.img_url %>"></td>
          <td><%= movie.title %></td>
          <td><%= movie.release_date %></td>
          <td><%= movie.overview %></td>
          <td><%= link_to "Add to Watchlist", add_movie_path(movie.tmdb_id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>

<%= link_to 'Back', movies_path %>
